$media-min-small: 450px;
$media-max-small: 550px;
$media-min-medium: 551px;
$media-max-medium: 869px;
$media-min-large: 870px;
$media-min-navbar: 1079px;
$media-max-navbar: 1080px;
$media-max-large: 1200px;
