.missing-main {
  h2 {
    text-align: center;
    margin: 1em;
    font-size: 2em;
  }
  p {
    text-align: center;
  }
  .magazine-post-preview--large,
  .magazine-post-preview-grid--section-header {
    display: none;
  }
}
