@import '../styles/media-queries.scss';
@import '../styles/vars.scss';

.magazine--header {
  background-color: $color-accent;
  height: 7em;
  color: $color-black;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 85px 1fr;
  grid-column-gap: 1em;
  @media (max-width: $media-max-medium) {
    height: 5em;
    grid-template-columns: 1fr 50px 1fr;
  }

  .magazine--header--icon {
    padding-top: 1em;
    width: 85px;
    height: 85px;
    font-weight: 900;
    @media (max-width: $media-max-medium) {
      width: 50px;
      height: 50px;
    }
  }
  span {
    font-family: 'averta-semibold', sans-serif;
    font-size: 3.5em;
    font-weight: 200;
    line-height: 2em;
    padding-top: 0em;
    @media (max-width: $media-max-medium) {
      line-height: 1.5em;
    }
  }
  .magazine--header--left {
    text-align: right;
    @media (max-width: $media-max-medium) {
      font-size: 3em;
    }
  }
  .magazine--header--right {
    text-align: left;
    @media (max-width: $media-max-medium) {
      font-size: 3em;
    }
  }
}
.magazine--header--title {
  // width: 50%;
  // margin-bottom: 0em;
  color: $color-accent;
  text-align: center;
  @media (max-width: $media-max-medium) {
    display: inline;
    margin: auto;
  }
}
