@font-face {
  font-display: swap;
  font-family: 'averta-semibold';
  src: url('/averta_semibold-webfont.woff2') format('woff2'),
    url('/averta_semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'avertablack_italic';
  src: url('/averta-blackitalic-webfont.woff2') format('woff2'),
    url('/averta-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'avertabold';
  src: url('/averta-bold-webfont.woff2') format('woff2'),
    url('/averta-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'averta-bolditalic';
  src: url('/averta-bolditalic-webfont.woff2') format('woff2'),
    url('/averta-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'averta_demo_pe_cutted_demoRg';
  src: url('/avertademopecutteddemo-regular-webfont.woff2') format('woff2'),
    url('/avertademopecutteddemo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'averta_demo_pe_extra_bold';
  src: url('/avertademope-extrabold-webfont.woff2') format('woff2'),
    url('/avertademope-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'averta_demo_pe_extra_bold_italic';
  src: url('/avertademope-extrabolditalic-webfont.woff2') format('woff2'),
    url('/avertademope-extrabolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'averta_demo_pe_regular';
  src: url('/avertademope-regular-webfont.woff2') format('woff2'),
    url('/avertademope-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
