@import '../styles/media-queries.scss';
@import '../styles/vars.scss';

.follow-us--main {
  display: none;

  @media (max-width: $media-max-medium) {
    display: block;
    max-width: 420px;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  @media (max-width: $media-max-small) {
    display: block;
    max-width: 350px;
  }
}

.follow-us--header {
  font-family: 'averta-semibold', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  width: 100%;
  text-align: center;

  color: $color-accent;
  display: block;
  padding: 1rem 0rem 1rem 0rem;
  margin: auto;
  @media (max-width: $media-max-small) {
    font-size: 1.3rem;
  }
}
.follow-us--icon-container {
  margin-right: 2rem;
  margin-left: 2rem;
  // width: 100%;
  display: grid;
}
.follow-us--icon {
  margin: auto;
}
