@import '../styles/media-queries.scss';
@import '../styles/vars.scss';

.globe {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 1s;
  transition-delay: 100ms;

  &.show {
    opacity: 1;
  }

  .overlay {
    z-index: 100;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    font-family: 'averta-semibold', sans-serif;
    font-weight: bold;

    @media (max-width: $media-max-small) {
      font-size: 1.25rem;
    }
  }
}
